<span class="btn btn-default btn-file">
    Upload
    <input type="file" class="form-control" required accept="image/*" id="fieldPhoto" data-url="/upload" multiple name="photo">
</span>
<div id="fileUploads"></div>
{{#section 'jquery'}}
    <script src="/vendor/jqfu/js/vendor/jquery.ui.widget.js"></script>
    <script src="/vendor/jqfu/js/jquery.iframe-transport.js"></script>
    <script src="/vendor/jqfu/js/jquery.fileupload.js"></script>
    <script>
        $(document).ready(function(){
            $('#fieldPhoto').fileupload({
                dataType: 'json',
                done: function(e, data){
                    $.each(data.result.files, function(index, file){
                        var report = file.originalName;
                        report += ' ('+ file.size + 'byte)';
                        report += ' ->' + file.url;
                        $('<p/>').text(report).appendTo($('#fileUploads'))
                    })
                }
            })
        })
    </script>
{{/section}}
